
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container" style="margin-top: 200px;">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">cAmewith.me</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Глагне</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading" style="margin-bottom: 50px">Запусти приватный чат!</h1>
        <p class="lead">
          Доступ к нему будут иметь только те, кого ты впустишь.
          <br>
          Анонимно, без СМС и регистрации :)
        </p>

        <p class="lead" style="margin-top: 50px;">
          <!--<a href="#" class="btn btn-lg btn-success" style="padding: 10px 120px;">Поехали!</a>-->
          <%= form_tag login_path do |f| %>
              <%= submit_tag "Поехали!", class: 'btn btn-lg btn-success', style: "padding: 10px 120px;" %>
          <% end %>
        </p>

        <div class="row descr" style="margin-top: 50px;">
          <h2 class="cover-heading" style="margin-bottom: 50px; font-size: 2em">Как <i>это</i> работает:</h2>
          <div class="col-lg-3">
            <%= image_tag 'step-1.png', class: 'img-circle', alt: 'шаг 1', style: 'border: 2px solid #666'  %>
            <h2>Сделай комнату</h2>
            <p>Система создаст чат с уникальным адресом, который можно безопасно расшарить.</p>
          </div>
          <div class="col-lg-3">
            <%= image_tag 'step-2.png', class: 'img-circle', alt: 'шаг 1', style: 'border: 2px solid #666; width: 140px;'  %>
            <h2>Расшарь адрес</h2>
            <p>Каждый, кто будет заходить на этот адрес, получит уникальный пароль.</p>
          </div>
          <div class="col-lg-3">
            <%= image_tag 'step-3.png', class: 'img-circle', alt: 'шаг 1', style: 'border: 2px solid #666'  %>
            <h2>Спроси пароль</h2>
            <p>Этот пароль работает только для девайса, которому он выдан.</p>
          </div>
          <div class="col-lg-3">
            <%= image_tag 'step-4.png', class: 'img-circle', alt: 'шаг 1', style: 'border: 2px solid #666; width: 140px;' %>
            <h2>Запусти нужных</h2>
            <p>Вы можете общаться по секрету, сохраняя анонимность.</p>
          </div>
        </div>
      </div>

      <%= link_to image_tag('maniaco_logo.png', :width => 70), 'http://maniaco.ru', target: '_blank', style: 'z-index: 666;' %>


      <div class="mastfoot">
        <div class="inner">
        </div>
      </div>
    </div>
  </div>
</div>




